@inherits UmbracoViewPage

@{
    var modelParsed = new Slider(Model);
    var s = modelParsed.SliderImage;
}

@*<h1>@modelParsed.SliderImage</h1>*@
<div class="carousel-slick">
    @{
        foreach (var imageContent in modelParsed.SliderImage)
        {
            <div>
                <img src="@Umbraco.Media(imageContent.Id).Url" alt="">
            </div>
        }
    }
</div>