@inherits UmbracoViewPage

@{
    var modelParsed = new Slider(Model);
}

<div class="carousel-slick">
    @{
        if (modelParsed.SlideItems != null)
        {
            foreach (var imageContent in modelParsed.SlideItems.Select(x => new SlideItem(x)))
            {
                <div>
                    <a href="@imageContent.SlideUrl">
                        <h1>@imageContent.SlideTitle</h1>
                        <img src="@if (imageContent.SlideImage.Url != null) {@imageContent.SlideImage.Url }" alt="">
                    </a>
                </div>
            }
        }
    }
</div>