<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
<!ELEMENT slider ANY>
<!ATTLIST slider id ID #REQUIRED>
<!ELEMENT circleWithText ANY>
<!ATTLIST circleWithText id ID #REQUIRED>
]>
<root id="-1">
  <home id="1055" key="c9495ff2-d6b5-47ac-ac2a-7ff2c303fd39" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2021-02-03T16:18:08" updateDate="2021-02-08T13:21:51" nodeName="Home Page" urlName="home-page" path="-1,1055" isDoc="" nodeType="1054" creatorName="test" writerName="test" writerID="0" template="1053" nodeTypeAlias="home" isPublished="true">
    <docGridos><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "label": "Headline",
          "name": "Headline",
          "areas": [
            {
              "grid": 12,
              "config": {
                "class": "content-text--header content-text"
              },
              "styles": {},
              "hasConfig": true,
              "controls": [
                {
                  "value": "<p class=\"title\">Виготовлення та встановлення<br /><strong>автономниx</strong> каналізаційних cистем</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                },
                {
                  "value": "<p><span class=\"WhiteButton\">Дізнатися більше</span></p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            }
          ],
          "styles": {
            "background-image": "url(/media/1005/fon1_cuted.png)",
            "padding-bottom": "50px"
          },
          "config": {
            "class": "container-fluid block-images--header"
          },
          "hasConfig": true,
          "id": "08de1d37-21fa-e3e0-cd08-118a0da96058"
        },
        {
          "label": "Headline",
          "name": "Headline",
          "areas": [
            {
              "grid": 12,
              "config": {},
              "styles": {},
              "hasConfig": false,
              "controls": [
                {
                  "value": "Про нас",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                }
              ]
            }
          ],
          "styles": {
            "padding-top": "50px"
          },
          "config": {
            "class": "container-fluid content-text"
          },
          "hasConfig": true,
          "id": "374ec19b-520b-9bfa-4642-5564507719ac"
        },
        {
          "name": "4 col",
          "areas": [
            {
              "grid": 3,
              "config": {
                "class": "element-center"
              },
              "styles": {},
              "hasConfig": true,
              "controls": [
                {
                  "value": {
                    "dtgeContentTypeAlias": "circleWithText",
                    "value": {
                      "name": "Doc Type",
                      "circleText": "2016"
                    },
                    "id": "a47fbfe3-8c9c-1842-9fa7-f5e048cca421"
                  },
                  "editor": {
                    "alias": "docType"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 3,
              "config": {
                "class": "element-center"
              },
              "styles": {},
              "hasConfig": true,
              "controls": [
                {
                  "value": {
                    "dtgeContentTypeAlias": "circleWithText",
                    "value": {
                      "name": "Doc Type",
                      "circleText": "15 років"
                    },
                    "id": "e57e0eb0-69bd-1b5f-b823-2ab382b78fe7"
                  },
                  "editor": {
                    "alias": "docType"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 3,
              "config": {
                "class": "element-center"
              },
              "styles": {},
              "hasConfig": true,
              "controls": [
                {
                  "value": {
                    "dtgeContentTypeAlias": "circleWithText",
                    "value": {
                      "name": "Doc Type",
                      "circleText": "98%"
                    },
                    "id": "5228cf80-2d8e-62df-da52-74d7dd33a6fe"
                  },
                  "editor": {
                    "alias": "docType"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 3,
              "config": {
                "class": "element-center"
              },
              "styles": {},
              "hasConfig": true,
              "controls": [
                {
                  "value": {
                    "dtgeContentTypeAlias": "circleWithText",
                    "value": {
                      "name": "Doc Type",
                      "circleText": "№ 1"
                    },
                    "id": "9bc7df53-2c2e-f544-affe-51a62dc7ace9"
                  },
                  "editor": {
                    "alias": "docType"
                  },
                  "active": false
                }
              ]
            }
          ],
          "styles": {
            "padding-top": "50px"
          },
          "config": {
            "class": "container-fluid content-text"
          },
          "hasConfig": true,
          "id": "bdbfec49-023b-15be-1b37-d9106f891f0e"
        },
        {
          "name": "4 col",
          "areas": [
            {
              "grid": 3,
              "config": {
                "class": "element-center"
              },
              "styles": {},
              "hasConfig": true,
              "controls": [
                {
                  "value": "<p><span>рік заснування компанії</span></p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 3,
              "config": {
                "class": "element-center"
              },
              "styles": {},
              "hasConfig": true,
              "controls": [
                {
                  "value": "<p><span>гарантії на товар</span></p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 3,
              "config": {
                "class": "element-center"
              },
              "styles": {},
              "hasConfig": true,
              "controls": [
                {
                  "value": "<p><span>рівень очистки води</span></p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 3,
              "config": {
                "class": "element-center"
              },
              "styles": {},
              "hasConfig": true,
              "controls": [
                {
                  "value": "<p><span>виробник в Україні</span></p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            }
          ],
          "styles": {},
          "config": {
            "class": "container-fluid content-text"
          },
          "hasConfig": true,
          "id": "2c0072ff-ab44-cee2-4412-6f0aabc33f22"
        },
        {
          "label": "Headline",
          "name": "Headline",
          "areas": [
            {
              "grid": 12,
              "hasConfig": false,
              "controls": []
            }
          ],
          "styles": {},
          "config": {
            "class": "border-dotted"
          },
          "hasConfig": true,
          "id": "4cd06dfc-052d-b474-0fd8-2cedc862534c"
        },
        {
          "name": "2 col",
          "areas": [
            {
              "grid": 6,
              "config": {
                "class": "element-center info-text-block"
              },
              "styles": {},
              "hasConfig": true,
              "controls": [
                {
                  "value": "<div class=\"title-info\">Вам<span> </span><strong><span class=\"lang\">ПОТРІБЕН</span> </strong>септик\n<div class=\"lang\">якщо:</div>\n</div>\n<ul>\n<li class=\"lang\">У Вас є дача, або заміський будинок;</li>\n<li class=\"lang\">Немає центральної каналізації;</li>\n<li>Вам набридли проблеми з вигрібною ямою,<br />бетонними кільцями або вуличним туалетом;</li>\n<li class=\"lang\">Вам докучають постійний неприємний запах і комахи;</li>\n<li class=\"lang\">Ви втомилися викликати асенізаторську машину і<br />витрачати на це свої кошти;</li>\n<li class=\"lang\">Ви хочете позбутися проблеми зі стоками вашого<br />будинку раз і назавжди.</li>\n</ul>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 6,
              "config": {
                "class": "element-center"
              },
              "styles": {},
              "hasConfig": true,
              "controls": [
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 1071,
                    "udi": "umb://media/980fe3c223bb495ca608541ffc76fbea",
                    "image": "/media/1007/colo-1.png"
                  },
                  "editor": {
                    "alias": "media"
                  },
                  "active": false
                }
              ]
            }
          ],
          "styles": {
            "padding-top": "50px",
            "padding-bottom": "50px"
          },
          "config": {
            "class": "container-fluid content-text"
          },
          "hasConfig": true,
          "id": "e5de11b4-e027-0820-3453-7c79e8c24bca"
        },
        {
          "name": "2 col",
          "areas": [
            {
              "grid": 6,
              "config": {
                "class": "element-center"
              },
              "styles": {},
              "hasConfig": true,
              "controls": [
                {
                  "value": "<p class=\"title-callback\">Маєте питання?</p>\n<p class=\"text-callback\">Наш консультант з радістю<br />Вам допоможе!</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 6,
              "config": {
                "class": "element-center"
              },
              "styles": {},
              "hasConfig": true,
              "controls": [
                {
                  "value": {
                    "macroAlias": "ContactForm",
                    "macroParamsDictionary": {}
                  },
                  "editor": {
                    "alias": "macro"
                  },
                  "active": false
                }
              ]
            }
          ],
          "styles": {
            "background-image": "url(/media/1009/fon2.png)",
            "padding-top": "150px",
            "padding-bottom": "150px",
            "align-items": "center"
          },
          "config": {
            "class": "container-fluid block-images--header"
          },
          "hasConfig": true,
          "id": "a7a1e3cb-2827-7351-0112-328d66c6a227"
        },
        {
          "label": "Headline",
          "name": "Headline",
          "areas": [
            {
              "grid": 12,
              "config": {},
              "styles": {},
              "hasConfig": false,
              "controls": [
                {
                  "value": {
                    "dtgeContentTypeAlias": "slider",
                    "value": {
                      "name": "Doc Type",
                      "slideItems": [
                        {
                          "key": "ea2d76b1-7945-4909-81fc-fdb8a2542ae0",
                          "name": "Yep label123",
                          "ncContentTypeAlias": "slideItem",
                          "slideImage": "umb://media/7a1a3d76547e4608a7785e46bba9e18f",
                          "slideTitle": "Yep label123",
                          "slideUrl": "Yep url"
                        },
                        {
                          "key": "e5fd0de5-ef13-41ea-a896-753b116fe659",
                          "name": "Yep label2",
                          "ncContentTypeAlias": "slideItem",
                          "slideImage": "umb://media/3d9388d30da94695a038d00eace3c3a5",
                          "slideTitle": "Yep label2",
                          "slideUrl": "Yep url2"
                        },
                        {
                          "key": "a8711ab6-0c46-40e9-958c-d135f48f2026",
                          "name": "Item 3",
                          "ncContentTypeAlias": "slideItem",
                          "slideImage": "umb://media/020ac39acffa4e2d9eaee473ab32c0c8",
                          "slideTitle": "Yep label3",
                          "slideUrl": "Yep url3"
                        }
                      ]
                    },
                    "id": "f95bea86-112c-2380-68a4-5a9a310a4101"
                  },
                  "editor": {
                    "alias": "docType"
                  },
                  "active": true
                }
              ],
              "hasActiveChild": true,
              "active": true
            }
          ],
          "styles": {},
          "config": {},
          "hasConfig": false,
          "id": "ad0d349c-0eb9-086f-285f-eff473b69101",
          "hasActiveChild": true,
          "active": true
        }
      ]
    }
  ]
}]]></docGridos>
  </home>
</root>