.wrapper-tel-number {
    color: #4c4c4c;
    font-size: 18px;
    font-family: S-Regular;
    float: right;
    align-items: center;
    height: 50px;
    display: flex;
}

.wrapper-tel-number span {
    color: #4c4c4c;
    font-size: 18px;
    font-family: S-Regular;
    display: inline-block;
}

.wrapper-tel-number span:nth-child(1) { margin-right: 100px; }

.translate {
    margin-left: 10px;
    cursor: pointer;
}

.translate:nth-last-child(2) { padding-left: 100px; }

.logo {
    height: 60px;
    width: 100px;
    background-size: contain;
    background-image: url(../Media/1002/logo.png);
    background-position: center;
    background-repeat: no-repeat;
}

.w1200 { max-width: 1200px; }

#ua, #ru {
    font-size: 15px;
    font-weight: bold;
}

.top-menu {
    display: -webkit-flex;
    display: flex;
    align-items: center;
    -o-justify-content: space-between;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}


.top-menu ul li {
    display: inline-block;
    padding: 25px;
}

.wrap-footer {
    font-size: 15px;
    color: #fff;
    font-family: S-Regular;
    line-height: normal;
    padding-left: 75px;
}

footer {
    min-height: 40px;
    display: -webkit-flex;
    display: flex;
    -ms-align-items: center;
    -o-align-items: center;
    -webkit-align-items: center;
    align-items: center;
    background: #a6b21f;
}

.block-images--header {
    min-height: calc(100vh - 50px);
    background-size: cover;
    position: relative;
}

p {
    font-size: 19px;
    font-family: S-Regular;
    color: #4c4c4c;
    margin-bottom: 60px;
}

.content-text { padding-left: 100px; }

.content-text--header { padding-top: 450px; }

.content-text--header, .content-text--header p {
    font-size: 42px;
    font-family: S-Regular;
    line-height: normal;
    color: #fff;
    margin-bottom: 20px;
}

.res-circle {
    height: 130px;
    width: 130px;
    -ms-border-radius: 50%;
    border-radius: 50%;
    border: 4px solid #a6b21f !important;
    line-height: 0;
    position: relative;
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
    -moz-user-select: none;
    -ms-user-select: none; 
    user-select: none;
}

.res-circle:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}
    .res-circle:hover {
        -webkit-transform: scale(1.3);
    }
.circle-txt {
    position: absolute;
    bottom: 50%;
    width: 100%;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
}
.element-center{
	display: table;
	margin: 0 auto;	
}
#ScrollBack {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: 0;
    outline: 0;
    cursor: pointer;
    border-radius: 50%;
    background: url(../Media/1006/arrow-01.png) no-repeat 50% 50%;
    background-size: 50px;
    width: 50px;
    height: 50px;
}
.image-block {
    height: 350px;
    width: 350px;
    position: absolute;
    top: 30px;
    right: 0;
}
.border-dotted {
    height: 2px;
    width: 385px;
    background: #a6b21f;
    position: relative;
    left: 50%;
    margin-left: -192.5px;
    margin-top: 80px;
    margin-bottom: 80px;
}
.info-text-block ul {
    list-style-image: url(../Media/1008/pick.png);
}
.info-text-block ul li {
    padding: 10px;
    font-size: 18px;
    color: #4c4c4c;
}
.title-info {
    font-size: 26px;
    margin-bottom: 8px;
    color: #4c4c4c;
    padding-left: 4rem;
}
.input-form {
    display: block;
    width: 300px;
    margin-bottom: 26px;
    -ms-border-radius: 25px;
    border-radius: 25px;
    outline: 0;
    border: 0;
    padding: 13px;
    text-align: center;
    font-size: 16px;
}