<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>bioseptUmbraco</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/rde.css">


</head>

<body>
<button onclick="topFunction()" id="ScrollBack" title="Go to top" style="display: block;"></button>
<header>
    <div class="container w1200">
        <div class="row">
            <div class="col-md-12">
                <div class="wrapper-tel-number">
                    <span>+38 (096) 399 02 77<br></span><span>+38 (096) 399 02 77<br></span><span id="ua" class="translate">UA<br></span><span id="ru" class="translate">RU<br></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="top-menu">
                    <div class="logo"></div>
                    <ul class="list-inline">
                        <li>Головна</li>
                        <li>Про нас</li>
                        <li>Продукція</li>
                        <li>Прайс</li>
                        <li>Партнерам</li>
                        <li>Контакти</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
@RenderBody()
<footer>
    <div class="wrap-footer">
        <span>© 2019 Biosept. All rights reserved.<br></span>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<script src="../scripts/main.js"></script>
</body>
</html>