<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
]>
<root id="-1">
  <home id="1055" key="c9495ff2-d6b5-47ac-ac2a-7ff2c303fd39" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2021-02-03T16:18:08" updateDate="2021-02-04T18:30:12" nodeName="Home Page" urlName="home-page" path="-1,1055" isDoc="" nodeType="1054" creatorName="test" writerName="test" writerID="0" template="1053" nodeTypeAlias="home" isPublished="false" isDraft="">
    <docGridos><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "label": "Headline",
          "name": "Headline",
          "areas": [
            {
              "grid": 12,
              "config": {
                "class": "content-text--header"
              },
              "styles": {},
              "hasConfig": true,
              "controls": [
                {
                  "value": "<p class=\"title\">Виготовлення та встановлення<br /><strong>автономниx</strong> каналізаційних cистем</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                },
                {
                  "value": "<p><span class=\"WhiteButton\">Дізнатися більше</span></p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            }
          ],
          "styles": {
            "background-image": "url(/media/1005/fon1_cuted.png)",
            "padding-bottom": "50px"
          },
          "config": {
            "class": "container-fluid block-images--header"
          },
          "hasConfig": true,
          "id": "08de1d37-21fa-e3e0-cd08-118a0da96058"
        },
        {
          "label": "Headline",
          "name": "Headline",
          "areas": [
            {
              "grid": 12,
              "config": {
                "class": "title"
              },
              "styles": {},
              "hasConfig": true,
              "controls": [
                {
                  "value": "Про нас",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                }
              ]
            }
          ],
          "styles": {},
          "config": {
            "class": "container-fluid"
          },
          "hasConfig": true,
          "id": "374ec19b-520b-9bfa-4642-5564507719ac"
        }
      ]
    }
  ]
}]]></docGridos>
  </home>
</root>