<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
]>
<root id="-1">
  <home id="1055" key="c9495ff2-d6b5-47ac-ac2a-7ff2c303fd39" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2021-02-03T16:18:08" updateDate="2021-02-03T18:09:12" nodeName="Home Page" urlName="home-page" path="-1,1055" isDoc="" nodeType="1054" creatorName="test" writerName="test" writerID="0" template="1053" nodeTypeAlias="home" isPublished="false" isDraft="">
    <docGridos><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "label": "Headline",
          "name": "Headline",
          "areas": [
            {
              "grid": 12,
              "hasConfig": false,
              "controls": [
                {
                  "value": "HeadLine",
                  "editor": {
                    "alias": "quote"
                  },
                  "active": false
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "4c464aee-e025-d3eb-fe8c-19b7b3d20f68"
        },
        {
          "name": "3 col",
          "areas": [
            {
              "grid": 4,
              "hasConfig": false,
              "controls": [
                {
                  "value": "FFqA",
                  "editor": {
                    "alias": "quote"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 4,
              "hasConfig": false,
              "controls": [
                {
                  "value": "FFB",
                  "editor": {
                    "alias": "quote"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 4,
              "hasConfig": false,
              "controls": [
                {
                  "value": "EEC",
                  "editor": {
                    "alias": "quote"
                  },
                  "active": false
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "36e9f856-6d6d-5d22-9b66-7127b0aee80b"
        }
      ]
    }
  ]
}]]></docGridos>
  </home>
</root>